<% @dishes.each do |abc| %>
<div>
  <h1><%= abc.name %></h1>
  <h3><%= abc.rating %></h3>
  <p><%= abc.vege_or_not %></p>
</div>
<% end %>

<% @chefs.each do |abc| %>
<div>
  <h1><%= abc.name %></h1>
  <h3><%= abc.age %></h3>
</div>
<% end %>
